In [1]:
import pandas as pd

In [2]:
url = 'https://countrycode.org/'
url

'https://countrycode.org/'

In [3]:
tables = pd.read_html(url)
print(f"Number of tables found: {len(tables)}")
tables[0].head()

Number of tables found: 2

          COUNTRY COUNTRY CODE ISO CODES  POPULATION  AREA KM2       GDP $USD
0     Afghanistan           93  AF / AFG    29121286    647500  20.65 Billion
1         Albania          355  AL / ALB     2986952     28748   12.8 Billion
2         Algeria          213  DZ / DZA    34586184   2381740  215.7 Billion
3  American Samoa        1-684  AS / ASM       57881       199  462.2 Million
4         Andorra          376  AD / AND       84000       468    4.8 Billion

In [6]:
df = tables[0]

In [4]:
tables[1].head()

          COUNTRY COUNTRY CODE ISO CODES
0     Afghanistan           93  AF / AFG
1         Albania          355  AL / ALB
2         Algeria          213  DZ / DZA
3  American Samoa        1-684  AS / ASM
4         Andorra          376  AD / AND

In [7]:
df1 = tables[1]

In [15]:
Data=df.to_csv("web_data.csv", index=False)

In [20]:
df = pd.read_csv("web_data.csv")

In [21]:
print(df.head())

          COUNTRY COUNTRY CODE ISO CODES  POPULATION  AREA KM2       GDP $USD
0     Afghanistan           93  AF / AFG    29121286    647500  20.65 Billion
1         Albania          355  AL / ALB     2986952     28748   12.8 Billion
2         Algeria          213  DZ / DZA    34586184   2381740  215.7 Billion
3  American Samoa        1-684  AS / ASM       57881       199  462.2 Million
4         Andorra          376  AD / AND       84000       468    4.8 Billion